@model IEnumerable<TestEleonid.Models.UserTransaction>
@{
    ViewData["Title"] = "Home Page";
}

@*<link rel="stylesheet" href="~/css/MainPageStyles.css" />
<div class="ButtonsAndDropLists">
    <form action="/action_page.php">
        <select name="cars" id="cars">
            <option value="volvo">---</option>
            <option value="volvo">Pending</option>
            <option value="saab">Completed</option>
            <option value="opel">Canceled</option>
        </select>
        <br><br>
    </form>

    <form action="/action_page.php">
        <select name="cars" id="cars">
            <option value="volvo">---</option>
            <option value="volvo">Refill</option>
            <option value="saab">Withdrawal</option>
        </select>
        <br><br>
    </form>*@

    <form asp-action="UploadFile" asp-controller="Home" method="post" enctype="multipart/form-data">
        <input type="file" name="file" /><br>
        <input type="submit" value="Import" />
    </form>

    <form asp-action="Export" asp-controller="Home" method="get" enctype="multipart/form-data">
        <input type="submit" name="Export" value="Create and Export" id="btnExport"
               class="btn btn-primary" asp-action="Export" />
    </form>
        @*</div>*@

        <div class="table-wrapper-scroll-y my-custom-scrollbar">

            <table class="table table-bordered table-striped mb-0">
                <tr>
                    <th>
                        TransactionId
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Type
                    </th>
                    <th>
                        ClientName
                    </th>
                    <th>
                        Amount
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.TransactionId
                        </td>
                        <td>
                            @item.Status
                        </td>
                        <td>
                            @item.Type
                        </td>
                        <td>
                            @item.ClientName
                        </td>
                        <td>
                            @item.Amount
                        </td>
                    </tr>
                }
            </table>

        </div>
